*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #34e7e4;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.color{
    display: flex;
    width: 45%;
    height: 45%;
    margin:auto;
}

#container{
    display: flex;
    background-color: #808e9b;
    height: 60vh;
    width: 60vh;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center;
    border-radius: 100%;
}

#btn_play{
    position: absolute ;
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
    border: none;
    background-color: #485460;
}

.highlight{
    opacity: 0.7;
}